<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

      <!-- 查询 -->
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body layui-form layui-row layui-col-space10" id="projcet-query"
            lay-filter="projcet-query">
            <div class="layui-col-md4">
              <label class="layui-form-label">模糊查询</label>
              <div class="layui-input-block">
                <input type="text" name="condition" placeholder="" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-md2 layui-col-md-offset6">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="query">查询</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- 资产表格 -->
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">用户列表</div>
          <div class="layui-card-body">
            <table class="layui-table" id="list" lay-filter="list"></table>
          </div>
        </div>
      </div>
  

    </div>
  </div>
  
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm" lay-event="add">增加</a>
</script>

  <script type="text/html" id="bar">
      <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detial">详情</a>
      <a class="layui-btn layui-btn-xs " lay-event="change">变更</a>
  </script>
  
  <script>
    layui.use(['admin', 'table', 'form', 'element'], function () {
      var table = layui.table,
        form = layui.form,
        $ = layui.$,
        admin = layui.admin,
        element = layui.element;

        form.render();

        table.render({
            elem: '#list'
            , url: '/user/userlist/'
            , toolbar: '#toolbar'
            , defaultToolbar: []
            , cols: [[
                { checkbox: true, fixed: true }
                , { field: 'username', title: '用户名', width: 110 }
                , { field: 'email', title: '邮箱' }
                , { field: 'mobilephone', title: '联系电话' }
                , { field: 'roles', title: '角色' }
                , { field: 'parent', title: '管理人员' }
                , { title: '高级选项', fixed: 'right', align: 'center', width: 130, toolbar: '#userlistbar' }
            ]]
            , page: true
        });
        
        let userupdate = (isuser) => {
            admin.open({
                title: (isuser ? '修改' : '添加') + '用户',
                area: ['520px', '520px'],
                url: './views/usermanage/usercreate.html',
                success: function (layero, index) {
                    if (isuser) {
                        form.val('infoform', isuser);
                    };
                    form.on('submit(sub)', function (obj) {
                        let data = obj.field;
                        admin.ajax({
                            url: (isuser ? '/asset/portupdate/' + portdata.id + '/' : '/user/usercreate/')
                            , type: 'POST'
                            , data: data
                            , dataType: 'JSON'
                            , success: function (res) {
                                layer.close(index);
                                let msg = JSON.stringify(res.msg);
                                if (res.code == 0) {
                                    layer.msg(res.msg, {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 1000
                                    });
                                } else if (res.code == 1) {
                                    layer.msg(msg, {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 1000
                                    });
                                }
                            }
                        });
                        return false;
                    });
                },
                end: function () {
                    table.reload('list');
                }
            });
        }

        table.on('toolbar(list)', function (obj) {
            switch (obj.event) {
                case 'add':
                userupdate()
                break;
            };
        });



      //查询并重载表格
      form.on('submit(query)', (d) => {
        table.reload('list', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          , where: {
            key: d.field.condition
          }
        });
      });
  

  
  
    });
  </script>