<div class="layui-card-body" style="padding: 15px;" id='formedit'>
	<form class="layui-form" action="" lay-filter="component-form-group">
		<input type='hidden' name="csrfmiddlewaretoken" id='csrf'>
		<input type='hidden' name="id" id='id'>
		<div class="layui-form-item">
			<label class="layui-form-label">资产名称</label>
			<div class="layui-input-block">
				<input name="name" id="name" lay-verify="required" autocomplete="off" placeholder="请输入资产名称"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">资产标识</label>
			<div class="layui-input-block">
				<input name="key" id="key" lay-verify="required" autocomplete="off" placeholder="域名或IP地址"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">资产类型</label>
			<div class="layui-input-block">
				<select name="type" id="type" lay-verify="required">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">负责人</label>
			<div class="layui-input-block">
				<input name="manage" id="manage" lay-verify="required" autocomplete="off" placeholder="负责人"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">联系电话</label>
			<div class="layui-input-block">
				<input name="telephone" id="telephone" autocomplete="off" lay-verify="phone" placeholder="请输入手机号码"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input name="email" id="email" autocomplete="off" lay-verify="email" placeholder="请输入邮箱"
					class="layui-input">
			</div>
		</div>
		<div id="view"></div>
		<script id="demo" type="text/html">
			{{# if(d.deny == true) {}}
			<div class="layui-form-item">
				<label class="layui-form-label">所属用户</label>
				<div class="layui-input-block">
                        <input type='hidden' name="user"  id='user'>
                        <input name="user_name" id="user_name" autocomplete="off"  placeholder="请选择所属用户" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">关联资产</label>
				<div class="layui-input-block">
						<input type='hidden' name="parent"  id='parent'>
						<input name="parent_name" id="parent_name" autocomplete="off"  placeholder="请选择关联资产" class="layui-input">
				</div>
			</div>
			{{#   }}}
		</script>
		<div class="layui-form-item">
			<label class="layui-form-label">资产描述</label>
			<div class="layui-input-block">
				<textarea name="description" id="description" placeholder="请输入描述内容" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs-offset3">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>


<script>
	layui.use(['admin', 'form', 'config', 'laytpl', 'tableSelect','uncode'], function () {
		var $ = layui.$
			, layer = layui.layer
			, admin = layui.admin
			, form = layui.form
			, config = layui.config
			, laytpl = layui.laytpl
			, tableSelect = layui.tableSelect
			, uncode = layui.uncode;

		var data = { //数据
			"deny": config.getdeny()
		}
		var getTpl = demo.innerHTML
			, view = document.getElementById('view');
		laytpl(getTpl).render(data, function (html) {
			view.innerHTML = html;
		});

		if (config.getdeny()) {
			tableSelect.render({
				elem: '#parent_name',
				searchKey: 'key',
				checkedKey: 'key',
				searchPlaceholder: '资产名称',
				table: {
					url: '/asset/assetlist/'
					, cols: [[
						{ type: 'checkbox', fixed: true }
						, { field: 'key', title: '资产标识' }
						, { field: 'name', title: '资产名称' }
					]]
					, limit: 5
				},
				done: function (elem, data) {
					var NEWJSON = [];
					var id_list = [];
					layui.each(data.data, function (index, item) {
						NEWJSON.push(item.name);
						id_list.push(item.id);
					});
					elem.val(uncode(NEWJSON.join(",")));
					$('#parent').val(id_list.join(","));
				}
			});

			tableSelect.render({
				elem: '#user_name',
				searchKey: 'key',
				checkedKey: 'id',
				searchPlaceholder: '用户名称',
				table: {
					url: '/asset/assetlist/'
					, cols: [[
						{ type: 'checkbox', fixed: true }
						, { field: 'id', title: '用户ID' }
						, { field: 'name', title: '用户' }
					]]
					, limit: 5
				},
				done: function (elem, data) {
					var NEWJSON = [];
					var id_list = [];
					layui.each(data.data, function (index, item) {
						NEWJSON.push(item.name);
						id_list.push(item.id);
					});
					elem.val(uncode(NEWJSON.join(",")));
					$('#parent').val(id_list.join(","));
				}
			});
		}
		form.render();

		admin.ajax({
			url: '/csrf/'
			, type: 'GET'
			, dataType: 'JSON'
			, success: function (res) {
				$('#csrf').val(res.data.token);
			}
		});


		admin.ajax({
			url: '/asset/assettypelist/'
			, type: 'GET'
			, dataType: 'JSON'
			, headers: {
				['Authorization']: 'JWT ' + config.getToken()
			}
			, success: function (res) {
				let data = res.data;
				$.each(data, function (index, item) {
					$('#type').append(new Option(item.name, item.id));
				});
				form.render()
			}
		});

		admin.ajax({
			url: '/asset/assetlist/'
			, type: 'GET'
			, dataType: 'JSON'
			, headers: {
				['Authorization']: 'JWT ' + config.getToken()
			}
			, success: function (res) {
				let data = res.data;
				$.each(data, function (index, item) {
					$('#parent').append(new Option(item.name, item.id));
				});
				form.render()
			}
		});

		form.on('submit(sub)', function (obj) {
			console.log(obj.field);
			// admin.ajax({
			// 	url: '/asset/assetcreate/'
			// 	, type: 'POST'
			// 	, data: obj.field
			// 	, dataType: 'JSON'
			// 	, success: function (res) {
			// 		layer.msg(res.msg, {
			// 			offset: '15px'
			// 			, icon: 1
			// 			, time: 1000
			// 		},function(){
			// 			parent.layer.close(index);
			// 		});
			// 	}
			// });
			// if (obj.field.id == "") {
			// 	admin.ajax({
			// 		url: '/asset/assetcreate/'
			// 		, type: 'POST'
			// 		, data: obj.field
			// 		, dataType: 'JSON'
			// 		, success: function (res) {
			// 			layer.msg(res.msg, {
			// 				offset: '15px'
			// 				, icon: 1
			// 				, time: 1000
			// 			}, function () {
			// 				layui.index.render();
			// 			});
			// 		}
			// 	});
			// } else {
			// 	admin.req({
			// 		url: '/assetmanage/assetupdate/' + obj.field.id + '/'
			// 		, type: 'POST'
			// 		, data: obj.field
			// 		, done: function (res) {
			// 			layer.msg(res.msg, {
			// 				offset: '15px'
			// 				, icon: 1
			// 				, time: 1000
			// 			}, function () {
			// 				layui.index.render();
			// 			});
			// 		}
			// 	});
			// }
			return false;
		});
	});
</script>