<div class="layui-fluid">
  <div class="layui-row layui-col-space15 layui-col-md12 layui-col-sm12">


    <!-- 资产信息概览 -->
    <div class="layui-col-md3 layui-col-xs4">
      <div class="layui-card layui-col-md12 layui-col-sm12">
        <div class="layui-card-body layui-row layui-col-md12 layui-col-sm12" style="height:322px;">
          <fieldset class="layui-elem-field layui-field-title">
            <legend>资产信息概览</legend>
            <div class="layui-field-box">
              <div class="layui-col-md6 layui-col-sm6">
                <div id ='assetdetailsbox'></div>
                <script id="assetdetailselem" type="text/html">
                  <div class="layui-card-body">
                      <div style="width: 250px">资产名称：{{ d.name }}</div>
                      <div style="width: 250px">资产属性：{{ d.key }}</div>
                      <div style="width: 250px">资产类型：{{ d.type }}</div>
                      <div>系统描述：
                        <p>{{d.description}}</p>
                      </div>
                    </div>
                </script>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>


    <!-- 漏洞chart -->
    <div class="layui-col-md5 layui-col-xs4">
      <div class="layui-card">
        <div class="layui-card-body" style="height:300px;">
          <div id="root-chart-two" style="height:300px;"></div>
        </div>
      </div>
    </div>


    <!-- 资产详细信息 -->
    <div class="layui-col-md4 layui-col-xs4">
      <div class="layui-card">
        <div class="layui-card-header">
          <div class="layui-col-xs10">
            资产详细信息
          </div>
          <i class="layui-icon" id="assettypeinfoupdate">&#xe67c;</i>
        </div>
        <div class="layui-card-body" style="height:258px;" id="assettypeinfobox"></div>
          <script id="assettypeinfo" type="text/html">
            {{# console.log(d) }}
            {{# if(d.type == 'os'){ }}
            <div id="_key">IP地址：{{# if(d.key == 'None' ){ d.key = '' }}}{{ d.key || ''  }}</div>
            <div id="_hostname">主机名：{{# if(d.hostname == 'None' ){ d.hostname = '' }}}{{ d.hostname || ''  }}</div>
            <div id="_os">操作系统：{{# if(d.os.name == 'None' ){ d.os.name = '' }}}{{ d.os.name || '' }}</div>
            <div id="_cpu_num">CPU数量：{{# if(d.cpu_num == 'None' ){ d.cpu_num = '' }}}{{ d.cpu_num || ''  }}</div>
            <div id="_memory">内存大小：{{# if(d.memory == 'None' ){ d.memory = '' }}}{{ d.memory || ''  }}</div>
            <div id="_disk">硬盘大小：{{# if(d.disk == 'None' ){ d.disk = '' }}}{{ d.disk || '' }}</div>
            <div>更新时间：{{# if(d.updatetime == 'None' ){ d.updatetime = '' }}}{{ d.updatetime|| ''  }}</div>
            {{# }else if(d.type == 'sql'){ }}
            <div id="sqlkey">访问地址：{{# if(d.key == 'None' ){ d.key = '' }}}{{ d.key|| ''   }}</div>
            <div id="sqlos">数据库分类：{{# if(d.os.name == 'None' ){ d.os.name = '' }}}{{ d.os.name|| ''   }}</div>
            <div id="sqlversion">数据库版本：{{# if(d.version == 'None' ){ d.version = '' }}}{{ d.version|| ''   }}</div>
            <div id="sqlcycle">备份周期：{{# if(d.cycle == 'None' ){ d.cycle = '' }}}{{ d.cycle|| ''   }}</div>
            <div>更新时间：{{# if(d.updatetime == 'None' ){ d.updatetime = '' }}}{{ d.updatetime || ''  }}</div>
            {{# }else if(d.type == 'web'){ }}
            <div id="webkey">域名地址：{{# if(d.key == 'None' ){ d.key = '' }}}{{ d.key }}</div>
            <div id="_middleware">中间件：{{# if(d.middleware == 'None' ){ d.middleware = '' }}}{{ d.middleware }}</div>
            <div id="_middleware_version">中间件版本：{{# if(d.middleware_version == 'None' ){ d.middleware_version = '' }}}{{ d.middleware_version}}</div>
            <div id="_language">编程语言：{{# if(d.language.name == 'None' ){ d.language.name = '' }}}{{ d.language.name || ''}}</div>
            <div id="_web_framwork">开发框架：{{# if(d.web_framwork == 'None' ){ d.web_framwork = '' }}}{{ d.web_framwork }}</div>
            <div id="_web_framwork_version">开发框架版本：{{# if(d.web_framwork_version == 'None' ){ d.web_framwork_version = '' }}}{{ d.web_framwork_version }}</div>
            <div>更新时间：{{# if(d.updatetime == 'None' ){ d.updatetime = '' }}}{{ d.updatetime }}</div>
            {{# } }}
          </script>
      </div>
    </div>

    <!-- 资产漏洞数据表 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">漏洞列表</h2>
            <div class="layui-colla-content layui-show">
              <table class="layui-table" id="vuln-list" lay-filter="vuln-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 资产端口数据表 -->
    <div class="layui-col-md12 layui-hide" id="port-box">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">端口列表</h2>
            <div class="layui-colla-content layui-show">
              <button class="layui-btn layui-btn-sm" id="port-add">添加端口</button>
              <table class="layui-table" id="port-list" lay-filter="port-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 资产插件数据表 -->
    <div class="layui-col-md12 layui-hide" id="plugin-box">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">组件列表</h2>
            <div class="layui-colla-content layui-show">
              <button class="layui-btn layui-btn-sm" id="plugin-add">添加组件</button>
              <table class="layui-table" id="plugin-list" lay-filter="plugin-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 资产文件数据表 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">附件列表</h2>
            <div class="layui-colla-content layui-show">
              <button class="layui-btn layui-btn-sm" id="upload">上传文件</button>
              <table class="layui-table" id="file-list" lay-filter="file-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<script type="text/html" id="vuln-list-toolbar">
  <button class="layui-btn layui-btn-sm" lay-event="add">新增漏洞</button>
</script>

<script type="text/html" id="file-list-toolbar">
  <button class="layui-btn layui-btn-sm" lay-event="download" >下载</button>
</script>

<script type="text/html" id="vuln-list-bar">
  <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detial">详情</a>
  <a class="layui-btn layui-btn-xs" lay-event="change">变更</a>
</script>

<!-- 端口和组件编辑按钮 -->
<script type="text/html" id="bar">
  <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
</script>


<script>
  layui.use(['admin', 'form', 'table', 'element', 'uncode', 'laytpl'], function () {
    var $ = layui.$
      , layer = layui.layer
      , admin = layui.admin
      , form = layui.form
      , table = layui.table
      , router = layui.router()
      // , echarts = layui.echarts
      , element = layui.element
      , uncode = layui.uncode
      , laytpl = layui.laytpl;
    
    element.render();
    var assettypeinfoid;
    var assettypeinfodata;
    $(() => {
      admin.ajax({
        url:'/asset/assettypeinfolist/'+router.search.id + '/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          console.log(res.data);
          $.each(res.data, (index, item) => {
            partInfo(item.key);
          })
        }
      });
    });

    admin.ajax({
      url: '/asset/assetdetails/' + router.search.id + '/'
      , type: 'GET'
      , dataType: 'JSON'
      , success: function (res) {
        let getTpl = assetdetailselem.innerHTML
          , view = document.getElementById('assetdetailsbox');
        laytpl(getTpl).render(res.data, function (html) {
          view.innerHTML = html;
        });
      }
    });

    //获得资产漏洞表
    table.render({
      elem: '#vuln-list'
      , url: '/asset/vulnlist/' + router.search.id + '/'
      , toolbar: '#vuln-list-toolbar'
      , title: '资产漏洞表'
      , cols: [[
        { field: 'name', title: '漏洞名称', align: 'center', unresize: true }
        , { field: 'type', title: '漏洞类型', align: 'center', unresize: true }
        , {
          field: 'level', title: '漏洞等级', align: 'center', unresize: true, width: 120,
          templet: function (d) {
            let level = d.level;
            switch (level) {
              case '信息':
                return '<span style="color: #00CC99;">' + d.level + '</span>';
                break;
              case '低危':
                return '<span style="color: #3399FF">' + d.level + '</span>';
                break;
              case '中危':
                return '<span style="color: #FFFF33;">' + d.level + '</span>';
                break;
              case '高危':
                return '<span style="color: #FFA500;">' + d.level + '</span>';
                break;
              case '紧急':
                return '<span style="color: #FF0000;">' + d.level + '</span>';
                break;
            };
          }
        }
        , { field: 'fix_status', title: '修复状态', align: 'center', unresize: true, width: 120 }
        , { field: 'create_data', title: '创建时间', align: 'center', unresize: true }
        , { field: 'update_data', title: '更新时间', align: 'center', unresize: true }
        , { field: 'id', title: 'ID', hide: true }
        , { fixed: 'right', title: '操作', toolbar: '#vuln-list-bar', align: 'center', unresize: true, width: 150 }
      ]]
      , page: true
    });
    
    table.on('toolbar(vuln-list)', function (obj) {
      switch (obj.event) {
        case 'add':
          admin.open({
            title: '添加漏洞',
            area: ['520px', '753px'],
            url: './views/vulnmanage/vulncreate.html',
            success: function (layero, index) {
              form.on('submit(sub)', function (obj) {
                let data = obj.field;
                admin.ajax({
                  url: '/asset/vulncreate/' + router.search.id +'/'
                  , type: 'POST'
                  , data: data
                  , dataType: 'JSON'
                  , success: function (res) {
                    layer.close(index);
                    let msg = JSON.stringify(res.msg);
                    if (res.code == 0) {
                      layer.msg(res.msg, {
                        offset: '15px'
                        , icon: 1
                        , time: 1000
                      });
                    } else if (res.code == 1) {
                      layer.msg(msg, {
                        offset: '15px'
                        , icon: 1
                        , time: 1000
                      });
                    }
                  }
                });
                return false;
              });
            },
            end: function () {
              table.reload('vuln-list');
            }
          });
          break;
      };
    });


    let getportlist = () => {
      $('#port-box').removeClass('layui-hide');
      table.render({
        elem: '#port-list'
        , url: '/asset/portlist/' + router.search.id + '/'
        , title: '资产端口表'
        , cols: [[
          { field: 'port', title: '开放端口', align: 'center', unresize: true }
          , { field: 'name', title: '服务名称', align: 'center', unresize: true }
          , { field: 'product', title: '产品信息', align: 'center', unresize: true }
          , { field: 'version', title: '应用版本', align: 'center', unresize: true }
          , { field: 'port_info', title: '端口介绍', align: 'center', unresize: true }
          , { field: 'updatetime', title: '更新时间', align: 'center', unresize: true }
          , { field: 'id', title: 'ID', hide: true }
          , { fixed: 'right', title: '操作', toolbar: '#bar', align: 'center', unresize: true }
        ]]
        , page: true
      });
      $('#port-add').click(()=>{
        portpopup();
      });
    };

    let portpopup = (portdata) =>{
      admin.open({
        title: (portdata ? '修改' : '添加') + '端口信息',
        area: ['520px', '520px'],
        url: './views/assetmanage/portcreate.html',
        success: function (layero, index) {
          form.on('submit(sub)', function (obj) {
            let data = obj.field;
            admin.ajax({
              url: '/asset/portcreate/' + router.search.id + '/'
              , type: 'POST'
              , data: data
              , dataType: 'JSON'
              , success: function (res) {
                layer.close(index);
                let msg = JSON.stringify(res.msg);
                if (res.code == 0) {
                  layer.msg(res.msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                } else if (res.code == 1) {
                  layer.msg(msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                }
              }
            });
            return false;
          });
        },
        end: function () {
          table.reload('vuln-list');
        }
      });
    }

    let getassetdetialinfo = (type) => {
      admin.ajax({
        url: '/asset/' + type + 'details/' + router.search.id + '/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          let data = res.data;
          assettypeinfoid = data.id;
          assettypeinfodata = res.data;
          data.type = type;
          let getTpl = assettypeinfo.innerHTML
            , view = document.getElementById('assettypeinfobox');
          laytpl(getTpl).render(data, function (html) {
            view.innerHTML = html;
          });
        }
      });
    };

    let partInfo = (type) =>{
      if (type == 'os' || type == 'web' || type == 'sql') {
        getassetdetialinfo(type);
        $('#assettypeinfoupdate').click(() => {
          admin.open({
            title: type,
            area: ['500px', '500px'],
            url: './views/assetmanage/'+type+'update.html',
            success: function (layero, index) {
              // let osid = assettypeinfodata.os.id;
              // delete assettypeinfodata.os;
              // assettypeinfodata.os = osid;
              // console.log(assettypeinfodata);
              form.val('example', assettypeinfodata);
              form.on('submit(sub)', function (obj) {
                let data = obj.field;
                admin.ajax({
                  url: '/asset/'+type+'update/'+assettypeinfoid+'/'
                  , type: 'POST'
                  , data: data
                  , dataType: 'JSON'
                  , success: function (res) {
                    layer.close(index);
                    let msg = JSON.stringify(res.msg);
                    if (res.code == 0) {
                      layer.msg(res.msg, {
                        offset: '15px'
                        , icon: 1
                        , time: 1000
                      });
                    } else if (res.code == 1) {
                      layer.msg(msg, {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                      });
                    }
                  }
                });
                return false;
              });
            },
            end: function () {
              getassetdetialinfo(type);
            }
          });
        });
      }else if( type == 'port'){
        getportlist();
      };
    };

    table.render({
      elem: '#file-list'
      , url: '/asset/fileslist/' + router.search.id + '/'
      , title: '附件列表'
      , cols: [[
        { field: 'name', title: '附件名称', align: 'center', unresize: true }
        , { field: 'updatetime', title: '上传时间', align: 'center', unresize: true }
        , { fixed: 'right', title: '操作', toolbar: '#file-list-toolbar', align: 'center', unresize: true }
      ]]
      , page: true
    });

  }); 
</script>