<div class="layui-fluid">
  <div class="layui-row layui-col-space15 layui-col-md12 layui-col-sm12">


    <style>
      .a-upload input {
        position: absolute;
        width:100px;
        font-size: 100px;
        /* right: 200;
        top: 0; */
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
      }
    </style>

    <!-- 资产信息概览 -->
    <div class="layui-col-md3 layui-col-xs4">
      <div class="layui-card layui-col-md12 layui-col-sm12">
        <div class="layui-card-body layui-row layui-col-md12 layui-col-sm12" style="height:322px;">
          <fieldset class="layui-elem-field layui-field-title">
            <legend>资产信息概览</legend>
            <div class="layui-field-box">
              <div class="layui-col-md6 layui-col-sm6">
                <div id ='assetdetailsbox'></div>
                <script id="assetdetailselem" type="text/html">
                  <div class="layui-card-body">
                      <div style="width: 250px">资产名称：{{ d.name }}</div>
                      <div style="width: 250px">资产属性：{{ d.key }}</div>
                      <div style="width: 250px">资产类型：{{ d.type }}</div>
                      <div>系统描述：
                        <p>{{d.description}}</p>
                      </div>
                    </div>
                </script>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>


    <!-- 漏洞chart -->
    <div class="layui-col-md5 layui-col-xs4">
      <div class="layui-card">
        <div class="layui-card-body" style="height:300px;">
          <div id="root-chart-two" style="height:300px;"></div>
        </div>
      </div>
    </div>


    <!-- 资产详细信息 -->
    <div class="layui-col-md4 layui-col-xs4">
      <div class="layui-card">
        <div class="layui-card-header">
          <div class="layui-col-xs10">
            资产详细信息
          </div>
          <i class="layui-icon" id="assettypeinfoupdate">&#xe67c;</i>
        </div>
        <div class="layui-card-body" style="height:258px;" id="assettypeinfobox"></div>
          <script id="assettypeinfo" type="text/html">
            {{# console.log(d) }}
            {{# if(d.type == 'os'){ }}
            <div id="_key">IP地址：{{# if(d.key == 'None' ){ d.key = '' }}}{{ d.key || ''  }}</div>
            <div id="_hostname">主机名：{{# if(d.hostname == 'None' ){ d.hostname = '' }}}{{ d.hostname || ''  }}</div>
            <div id="_os">操作系统：{{# if(d.os.name == 'None' ){ d.os.name = '' }}}{{ d.os.name || '' }}</div>
            <div id="_cpu_num">CPU数量：{{# if(d.cpu_num == 'None' ){ d.cpu_num = '' }}}{{ d.cpu_num || ''  }}</div>
            <div id="_memory">内存大小：{{# if(d.memory == 'None' ){ d.memory = '' }}}{{ d.memory || ''  }}</div>
            <div id="_disk">硬盘大小：{{# if(d.disk == 'None' ){ d.disk = '' }}}{{ d.disk || '' }}</div>
            <div>更新时间：{{# if(d.updatetime == 'None' ){ d.updatetime = '' }}}{{ d.updatetime|| ''  }}</div>
            {{# }else if(d.type == 'sql'){ }}
            <div id="sqlkey">访问地址：{{# if(d.key == 'None' ){ d.key = '' }}}{{ d.key|| ''   }}</div>
            <div id="sqlos">数据库分类：{{# if(d.os.name == 'None' ){ d.os.name = '' }}}{{ d.os.name|| ''   }}</div>
            <div id="sqlversion">数据库版本：{{# if(d.version == 'None' ){ d.version = '' }}}{{ d.version|| ''   }}</div>
            <div id="sqlcycle">备份周期：{{# if(d.cycle == 'None' ){ d.cycle = '' }}}{{ d.cycle|| ''   }}</div>
            <div>更新时间：{{# if(d.updatetime == 'None' ){ d.updatetime = '' }}}{{ d.updatetime || ''  }}</div>
            {{# }else if(d.type == 'web'){ }}
            <div id="webkey">域名地址：{{# if(d.key == 'None' ){ d.key = '' }}}{{ d.key }}</div>
            <div id="_middleware">中间件：{{# if(d.middleware == 'None' ){ d.middleware = '' }}}{{ d.middleware }}</div>
            <div id="_middleware_version">中间件版本：{{# if(d.middleware_version == 'None' ){ d.middleware_version = '' }}}{{ d.middleware_version}}</div>
            <div id="_language">编程语言：{{# if(d.language.name == 'None' ){ d.language.name = '' }}}{{ d.language.name || ''}}</div>
            <div id="_web_framwork">开发框架：{{# if(d.web_framwork == 'None' ){ d.web_framwork = '' }}}{{ d.web_framwork }}</div>
            <div id="_web_framwork_version">开发框架版本：{{# if(d.web_framwork_version == 'None' ){ d.web_framwork_version = '' }}}{{ d.web_framwork_version }}</div>
            <div>更新时间：{{# if(d.updatetime == 'None' ){ d.updatetime = '' }}}{{ d.updatetime }}</div>
            {{# } }}
          </script>
      </div>
    </div>

    <!-- 资产漏洞数据表 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse" lay-filter="vulntalbe" >
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">漏洞列表</h2>
            <div class="layui-colla-content">
              <table class="layui-table" id="vuln-list" lay-filter="vuln-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 资产端口数据表 -->
    <div class="layui-col-md12 layui-hide" id="port-box">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse" lay-filter="porttalbe">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">端口列表</h2>
            <div class="layui-colla-content">
              <table class="layui-table" id="port-list" lay-filter="port-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 资产插件数据表 -->
    <div class="layui-col-md12 layui-hide" id="plugin-box">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse" lay-filter="plugintable">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">组件列表</h2>
            <div class="layui-colla-content">
              <table class="layui-table" id="plugin-list" lay-filter="plugin-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 资产文件数据表 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-collapse" lay-filter="filetalbe">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title" style="color: #000;">附件列表</h2>
            <div class="layui-colla-content">
              <button class="layui-btn layui-btn-sm a-upload" id="upload">
                <form enctype="multipart/form-data" id="file">
                  <input type='hidden' name="csrfmiddlewaretoken" id='filecsrf'>
                  <input type='hidden' name="file_info" id='file_info' value="12312">
                  <input type="file" name="file" id='inputfile'>上传文件
                </form>
              </button>
              <table class="layui-table" id="file-list" lay-filter="file-list"></table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="layui-col-md12 ">
      <div class="layui-card-body layui-hide" id='vulnformedit'>
        <form class="layui-form" action="" lay-filter="vulnform" style="padding: 15px;">
          <input type='hidden' name="csrfmiddlewaretoken" id='vulncsrf'>
          <div class="layui-col-md12 layui-form-item">
            <div class="layui-col-md6">
              <label class="layui-form-label">漏洞名称</label>
              <div class="layui-input-block">
                <input name="name" id="name" lay-verify="required" autocomplete="off" placeholder="漏洞名称"
                  class="layui-input">
              </div>
            </div>
            <div class="layui-col-md6">
              <label class="layui-form-label">CVE</label>
              <div class="layui-input-block">
                <input name="cve" id="cve" autocomplete="off" placeholder="CVE" class="layui-input">
              </div>
            </div>
          </div>
          <div class="layui-col-md12 layui-form-item">
            <div class="layui-col-md6">
              <label class="layui-form-label">漏洞类型</label>
              <div class="layui-input-block">
                <select name="type" id="type" lay-verify="required">
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="layui-col-md6">
              <label class="layui-form-label">漏洞等级</label>
              <div class="layui-input-block">
                <select name="level" id="level" lay-verify="required">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">修复状态</label>
            <div class="layui-input-block">
              <select name="fix_status" id="fix_status" lay-verify="required">
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">漏洞简介</label>
            <div class="layui-input-block">
              <textarea name="introduce" id="introduce" placeholder="漏洞简介" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">漏洞信息</label>
            <div class="layui-input-block">
              <textarea name="info" id="info" placeholder="漏洞信息" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">影响范围</label>
            <div class="layui-input-block">
              <textarea name="scopen" id="scopen" placeholder="影响范围" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">修复方案</label>
            <div class="layui-input-block">
              <textarea name="fix" id="fix" placeholder="修复方案" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-col-xs-offset3">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="layui-col-md12">
      <div class="layui-card-body layui-hide"  id='portformedit'>
        <form class="layui-form" style="padding: 15px;" lay-filter="portform">
          <input type='hidden' name="csrfmiddlewaretoken" id='portcsrf'>
          <div class="layui-form-item">
            <label class="layui-form-label">开放端口</label>
            <div class="layui-input-block">
              <input name="port"  lay-verify="required" autocomplete="off" placeholder="请输入端口号"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">服务名称</label>
            <div class="layui-input-block">
              <input name="name" lay-verify="required" autocomplete="off" placeholder="请输入服务名称"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">产品信息</label>
            <div class="layui-input-block">
              <input name="product" lay-verify="required" autocomplete="off" placeholder="请输入产品信息"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">应用版本</label>
            <div class="layui-input-block">
              <input name="version"  autocomplete="off" lay-verify="required" placeholder="应用版本"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">端口介绍</label>
            <div class="layui-input-block">
              <textarea name="port_info"  placeholder="" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-col-xs-offset3">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="layui-col-md12">
      <div class="layui-card-body"  id='pluginformedit'>
        <form class="layui-form" style="padding: 15px;" lay-filter="pluginform">
          <input type='hidden' name="csrfmiddlewaretoken" id='csrf'>
          <div class="layui-form-item">
            <label class="layui-form-label">组件名称</label>
            <div class="layui-input-block">
              <input name="name" id="name" lay-verify="required" autocomplete="off" placeholder="请输入组件名称"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">应用版本</label>
            <div class="layui-input-block">
              <input name="version" id="version" autocomplete="off" lay-verify="required" placeholder=""
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">组件介绍</label>
            <div class="layui-input-block">
              <textarea name="plugin_info" id="plugin_info" placeholder="" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-col-xs-offset3">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/html" id="vuln-list-toolbar">
  <button class="layui-btn layui-btn-sm" lay-event="add">新增漏洞</button>
</script>

<script type="text/html" id="port-list-toolbar">
  <button class="layui-btn layui-btn-sm" lay-event="add">新增端口</button>
</script>

<script type="text/html" id="plugin-list-toolbar">
  <button class="layui-btn layui-btn-sm" lay-event="add">新增组件</button>
</script>

<script type="text/html" id="file-list-toolbar">
  <button class="layui-btn layui-btn-sm" lay-event="download" >下载</button>
</script>

<script type="text/html" id="vuln-list-bar">
  <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detial">详情</a>
  <a class="layui-btn layui-btn-xs" lay-event="change">变更</a>
</script>

<!-- 端口和组件编辑按钮 -->
<script type="text/html" id="bar">
  <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
</script>


<script>
  layui.use(['admin', 'form', 'table', 'element', 'uncode', 'laytpl'], function () {
    var $ = layui.$
      , layer = layui.layer
      , admin = layui.admin
      , form = layui.form
      , table = layui.table
      , router = layui.router()
      , element = layui.element
      , uncode = layui.uncode
      , laytpl = layui.laytpl;

    form.render();
    element.render();

    var assettypeinfoid;
    var assettypeinfodata;
    var vulnchart = echarts.init(document.getElementById('root-chart-two'),'macarons');

    admin.ajax({
      url: '/csrf/'
      , type: 'GET'
      , dataType: 'JSON'
      , success: function (res) {
        $('#filecsrf').val(res.data.token);
      }
    });

    let getvulnchart = () => {
      admin.ajax({
        url: '/asset/assetvulnlevelchart/' + router.search.id + '/'
        , type: 'GET'
        , dataType: 'json'
        , success: function (res) {
          //获取风险总数
          let count = 0;
          let data = res.data;
          if (data == '') {
            data = [
              { value: 0, name: '信息' },
              { value: 0, name: '低危' },
              { value: 0, name: '中危' },
              { value: 0, name: '高危' },
              { value: 0, name: '紧急' }
            ]
          }
          for (let i = 0; i < res.data.length; i++) {
            count = res.data[i].value + count
          }
          let option = {
            title: {
              text: '资产漏洞等级分布',
              subtext: '安全评分：' + res.score,
              x: 'center',
              align: 'right',
              padding: [130, 0],
            },
            toolbox: {
              show: true,
              feature: {
                saveAsImage: { show: true }
              },
              left: 100
            },
            tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
              orient: 'vertical',
              x: 'left',
              data: res.categories
            },
            series: [
              {
                name: '风险总数',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                labelLine: {
                  normal: {
                    show: false
                  }
                },
                data: data
              }
            ]
          };
          vulnchart.setOption(option);
        }
      });

    };
    let vulnformready = () => {
      admin.ajax({
        url: '/csrf/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          $('#vulncsrf').val(res.data.token);
        }
      });
      admin.ajax({
        url: '/vuln/typelist/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          let data = res.data;
          $.each(data, function (index, item) {
            $('#type').append(new Option(item.name, item.id));
          });
          form.render()
        }
      });
      admin.ajax({
        url: '/vuln/statuslist/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          let data = res.data;
          $.each(data, function (index, item) {
            $('#fix_status').append(new Option(item.name, item.id));
          });
          form.render()
        }
      });
      admin.ajax({
        url: '/vuln/levellist/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          let data = res.data;
          $.each(data, function (index, item) {
            $('#level').append(new Option(item.name, item.id));
          });
          form.render()
        }
      });
    }
    let portfromready = () =>{
      admin.ajax({
        url: '/csrf/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          $("#portcsrf").val(res.data.token);
        }
      });
    };
    let pluginfromready = () => {
      admin.ajax({
        url: '/csrf/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          $("#pluginformedit input[name='csrfmiddlewaretoken']").val(res.data.token);
        }
      });
    };
    
    $(() => {
      admin.ajax({
        url:'/asset/assettypeinfolist/'+router.search.id + '/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          console.log(res.data);
          $.each(res.data, (index, item) => {
            partInfo(item.key);
          })
        }
      });
      getvulnchart();
      vulnformready();
    });

    admin.ajax({
      url: '/asset/assetdetails/' + router.search.id + '/'
      , type: 'GET'
      , dataType: 'JSON'
      , success: function (res) {
        let getTpl = assetdetailselem.innerHTML
          , view = document.getElementById('assetdetailsbox');
        laytpl(getTpl).render(res.data, function (html) {
          view.innerHTML = html;
        });
      }
    });

    //获得资产漏洞表
    table.render({
      elem: '#vuln-list'
      , url: '/asset/vulnlist/' + router.search.id + '/'
      , toolbar: '#vuln-list-toolbar'
      , title: '资产漏洞表'
      , cols: [[
        { field: 'name', title: '漏洞名称', align: 'center', unresize: true }
        , { field: 'type', title: '漏洞类型', align: 'center', unresize: true }
        , {
          field: 'level', title: '漏洞等级', align: 'center', unresize: true, width: 120,
          templet: function (d) {
            let level = d.level;
            switch (level) {
              case '信息':
                return '<span style="color: #00CC99;">' + d.level + '</span>';
                break;
              case '低危':
                return '<span style="color: #3399FF">' + d.level + '</span>';
                break;
              case '中危':
                return '<span style="color: #FFFF33;">' + d.level + '</span>';
                break;
              case '高危':
                return '<span style="color: #FFA500;">' + d.level + '</span>';
                break;
              case '紧急':
                return '<span style="color: #FF0000;">' + d.level + '</span>';
                break;
            };
          }
        }
        , { field: 'fix_status', title: '修复状态', align: 'center', unresize: true, width: 120 }
        , { field: 'create_data', title: '创建时间', align: 'center', unresize: true }
        , { field: 'update_data', title: '更新时间', align: 'center', unresize: true }
        , { field: 'id', title: 'ID', hide: true }
        , { fixed: 'right', title: '操作', toolbar: '#vuln-list-bar', align: 'center', unresize: true, width: 150 }
      ]]
      , page: true
    });
    
    table.on('toolbar(vuln-list)', function (obj) {
      switch (obj.event) {
        case 'add':
        vulnpopup();
        break;
      };
    });

    table.on('tool(vuln-list)', function (obj) {
      var data = obj.data;
      if (obj.event === 'change') {
        vulnpopup(data);
      } else if (obj.event === 'detial') {
        // index.go('/assetmanage/detial/id=' + data.id);
      };
    });

    let getportlist = () => {
      $('#port-box').removeClass('layui-hide');
      table.render({
        elem: '#port-list'
        , url: '/asset/portlist/' + router.search.id + '/'
        , toolbar: '#port-list-toolbar'
        , title: '资产端口表'
        , cols: [[
          { field: 'port', title: '开放端口', align: 'center', unresize: true }
          , { field: 'name', title: '服务名称', align: 'center', unresize: true }
          , { field: 'product', title: '产品信息', align: 'center', unresize: true }
          , { field: 'version', title: '应用版本', align: 'center', unresize: true }
          , { field: 'port_info', title: '端口介绍', align: 'center', unresize: true }
          , { field: 'updatetime', title: '更新时间', align: 'center', unresize: true }
          , { field: 'id', title: 'ID', hide: true }
          , { fixed: 'right', title: '操作', toolbar: '#bar', align: 'center', unresize: true }
        ]]
        , page: true
      });

      table.on('toolbar(port-list)', function (obj) {
        switch (obj.event) {
          case 'add':
            portpopup();
            break;
        };
      });

      table.on('tool(port-list)', function (obj) {
        var data = obj.data;
        if (obj.event === 'edit') {
          portpopup(data);
        };
      });
    };

    let getpluginlist = () => {
      $('#plugin-box').removeClass('layui-hide');
      table.render({
        elem: '#plugin-list'
        , url: '/asset/pluginlist/' + router.search.id + '/'
        , toolbar: '#plugin-list-toolbar'
        , title: '组件列表'
        , cols: [[
          { field: 'name', title: '组件名称', align: 'center', unresize: true }
          , { field: 'version', title: '应用版本', align: 'center', unresize: true }
          , { field: 'plugin_info', title: '组件简介', align: 'center', unresize: true }
          , { field: 'updatetime', title: '更新时间', align: 'center', unresize: true }
          , { fixed: 'right', title: '操作', toolbar: '#bar', align: 'center', unresize: true }
        ]]
        , page: true
      });

      table.on('toolbar(plugin-list)', function (obj) {
        switch (obj.event) {
          case 'add':
            pluginpopup();
            break;
        };
      });

      table.on('tool(plugin-list)', function (obj) {
        var data = obj.data;
        if (obj.event === 'edit') {
          pluginpopup(data);
        };
      });
    }

    let vulnpopup = (vulndata) =>{
      admin.open({
        type:1,
        title:  (vulndata ? '修改' : '添加') + '漏洞信息',
        area: ['520px', '753px'],
        content:$('#vulnformedit').html(),
        success: function (layero, index) {
          form.render();
          if(vulndata){
            vulndata.level = vulndata.level_id;
            vulndata.type = vulndata.type_id;
            vulndata.fix_status = vulndata.fix_status_id;
            form.val('vulnform',vulndata)
          }
          form.on('submit(sub)', function (obj) {
            let data = obj.field;
            admin.ajax({
              url: (vulndata ? '/vuln/vulnupdate/' + vulndata.id + '/' : '/asset/vulncreate/' + router.search.id +'/')
              , type: 'POST'
              , data: data
              , dataType: 'JSON'
              , success: function (res) {
                layer.close(index);
                let msg = JSON.stringify(res.msg);
                if (res.code == 0) {
                  layer.msg(res.msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                } else if (res.code == 1) {
                  layer.msg(msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                }
              }
            });
            return false;
          });
        },
        end: function () {
          table.reload('vuln-list');
          getvulnchart();
        }
      });
    };

    let portpopup = (portdata) =>{
      admin.open({
        type:1,
        title: (portdata ? '修改' : '添加') + '端口信息',
        area: ['520px', '520px'],
        content:$('#portformedit').html(),
        success: function (layero, index) {
          if(portdata){
            form.val('portform',portdata);
          };
          form.on('submit(sub)', function (obj) {
            let data = obj.field;
            admin.ajax({
              url: (portdata ? '/asset/portupdate/' + portdata.id + '/'  : '/asset/portcreate/' + router.search.id + '/' )
              , type: 'POST'
              , data: data
              , dataType: 'JSON'
              , success: function (res) {
                layer.close(index);
                let msg = JSON.stringify(res.msg);
                if (res.code == 0) {
                  layer.msg(res.msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                } else if (res.code == 1) {
                  layer.msg(msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                }
              }
            });
            return false;
          });
        },
        end: function () {
          table.reload('port-list');
        }
      });
    };

    let pluginpopup = (portdata) =>{
      admin.open({
        type:1,
        title: (portdata ? '修改' : '添加') + '组件信息',
        area: ['520px', '400px'],
        content:$('#pluginformedit').html(),
        success: function (layero, index) {
          if(portdata){
            form.val('pluginform',portdata);
          };
          form.on('submit(sub)', function (obj) {
            let data = obj.field;
            admin.ajax({
              url: (portdata ? '/asset/portupdate/' + portdata.id + '/'  : '/asset/plugincreate/' + router.search.id + '/' )
              , type: 'POST'
              , data: data
              , dataType: 'JSON'
              , success: function (res) {
                layer.close(index);
                let msg = JSON.stringify(res.msg);
                if (res.code == 0) {
                  layer.msg(res.msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                } else if (res.code == 1) {
                  layer.msg(msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                }
              }
            });
            return false;
          });
        },
        end: function () {
          table.reload('plugin-list');
        }
      });
    };

    let getassetdetialinfo = (type) => {
      admin.ajax({
        url: '/asset/' + type + 'details/' + router.search.id + '/'
        , type: 'GET'
        , dataType: 'JSON'
        , success: function (res) {
          let data = res.data;
          assettypeinfoid = data.id;
          assettypeinfodata = res.data;
          data.type = type;
          let getTpl = assettypeinfo.innerHTML
            , view = document.getElementById('assettypeinfobox');
          laytpl(getTpl).render(data, function (html) {
            view.innerHTML = html;
          });
        }
      });
    };

    let partInfo = (type) =>{
      if (type == 'os' || type == 'web' || type == 'sql') {
        getassetdetialinfo(type);
        $('#assettypeinfoupdate').click(() => {
          admin.open({
            title: type,
            area: ['500px', '500px'],
            url: './views/assetmanage/'+type+'update.html',
            success: function (layero, index) {
              // let osid = assettypeinfodata.os.id;
              // delete assettypeinfodata.os;
              // assettypeinfodata.os = osid;
              // console.log(assettypeinfodata);
              form.val('example', assettypeinfodata);
              form.on('submit(sub)', function (obj) {
                let data = obj.field;
                admin.ajax({
                  url: '/asset/'+type+'update/'+assettypeinfoid+'/'
                  , type: 'POST'
                  , data: data
                  , dataType: 'JSON'
                  , success: function (res) {
                    layer.close(index);
                    let msg = JSON.stringify(res.msg);
                    if (res.code == 0) {
                      layer.msg(res.msg, {
                        offset: '15px'
                        , icon: 1
                        , time: 1000
                      });
                    } else if (res.code == 1) {
                      layer.msg(msg, {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                      });
                    }
                  }
                });
                return false;
              });
            },
            end: function () {
              getassetdetialinfo(type);
            }
          });
        });
      }else if( type == 'port'){
        portfromready();
        getportlist();
      }else if( type == 'plugin'){
        pluginfromready();
        getpluginlist();
      };
    };

    table.render({
      elem: '#file-list'
      , url: '/asset/fileslist/' + router.search.id + '/'
      , title: '附件列表'
      , cols: [[
        { field: 'name', title: '附件名称', align: 'center', unresize: true }
        , { field: 'updatetime', title: '上传时间', align: 'center', unresize: true }
        , { fixed: 'right', title: '操作', toolbar: '#file-list-toolbar', align: 'center', unresize: true }
      ]]
      , page: true
    });


    $(".a-upload").on("change", "input[type='file']", function () {
      if ($('#inputfile').val() != '') {
        var form = document.getElementById('file');
        var fd = new FormData(form);
        admin.ajax({
          url: '/asset/filecreate/'+router.search.id+'/',
          type: 'POST',
          data: fd,
          dataType:'json',
          processData: false,
          contentType: false,
          success: (res) => {
            layer.msg(res.msg, {
              offset: '15px'
              , icon: 1
              , time: 1000
            });
            table.reload('file-list')
          }
        })
      }
    });

    element.on('collapse(vulntalbe)', function (data) {
      table.reload('vuln-list');
    });

    element.on('collapse(plugintalbe)', function (data) {
      table.reload('plugin-list');
    });

    element.on('collapse(porttalbe)', function (data) {
      table.reload('port-list');
    });

    element.on('collapse(filetalbe)', function (data) {
      table.reload('file-list');
    });
  }); 
</script>