<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <!-- 查询 -->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body layui-form layui-row layui-col-space10" id="projcet-query"
                    lay-filter="projcet-query">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">模糊查询</label>
                        <div class="layui-input-block">
                            <input type="text" name="condition" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-md1 layui-col-md-offset6">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="query">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 资产表格 -->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">资产列表</div>
                <div class="layui-card-body">
                    <table class="layui-table" id="rootasset-list" lay-filter="rootasset-list"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="rootasset-toolbar">
	<div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="add">资产录入</button>
    </div>
 </script>

<script type="text/html" id="rootasset-bar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detial">详情</a>
    <a class="layui-btn layui-btn-xs" data-dropdown="#dropdown-{{d.id}}" data-anchor="top-right">
      更多
  </a>
  <ul class="dropdown-menu-nav dropdown-bottom-right layui-hide" id="dropdown-{{d.id}}">
    <div class="dropdown-anchor"></div>
    <li><a lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a></li>
    <li><a lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a></li>
</ul>
</script>

<!-- <script src="assets/js/assetmanage/list.js"></script> -->
<script>
    layui.use(['admin', 'table', 'form', 'dropdown', 'index', 'uncode'], function () {
        var table = layui.table,
            form = layui.form,
            $ = layui.$,
            admin = layui.admin,
            dropdown = layui.dropdown,
            uncode = layui.uncode,
            index = layui.index;

        form.render();

        table.render({
            elem: '#rootasset-list',
            url: '/asset/assetlist/',
            toolbar: '#rootasset-toolbar',
            defaultToolbar: ['print', 'exports'],
            title: '资产列表',
            cols: [
                [
                    { field: 'name', title: '资产名称', align: 'center', unresize: true },
                    { field: 'key', title: '访问地址', align: 'center', unresize: true },
                    { field: 'type', title: '类型', align: 'center', unresize: true },
                    {
                        field: 'manage',
                        title: '负责人',
                        align: 'center',
                        unresize: true
                    }, {
                        field: 'telephone',
                        title: '联系电话',
                        align: 'center',
                        unresize: true
                    }, {
                        field: 'email',
                        title: '邮箱',
                        align: 'center',
                        unresize: true
                    }, {
                        field: 'updatetime',
                        title: '更新时间',
                        align: 'center',
                        unresize: true
                    }, {
                        field: 'description',
                        title: '工程描述',
                        hide: true,
                        unresize: true
                    }, {
                        field: 'parent_check',
                        title: 'parent',
                        hide: true,
                        unresize: true
                    }, {
                        field: 'id',
                        title: 'ID',
                        hide: true
                    }, {
                        fixed: 'right',
                        title: '操作',
                        toolbar: '#rootasset-bar',
                        align: 'center',
                        width: 150,
                        unresize: true
                    }]
            ],
            page: true
        });

        function showEditModel(mUser) {
            admin.open({
                type: 1,
                title: (mUser ? '修改' : '添加') + '资产',
                content: $('#assetCreateForm').html(),
                // url: './views/assetmanage/assetcreate.html',
                area: ['500px', '680px'],
                success: function (layero, dIndex) {
                    var url = mUser ? '/asset/assetupdate/' + mUser.id + '/' : '/asset/assetcreate/';

                    form.val('component-form-group', mUser);
                    form.on('submit(sub)', function (obj) {
                        admin.ajax({
                            url: url
                            , type: 'POST'
                            , data: obj.field
                            , dataType: 'JSON'
                            , success: function (res) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {
                                    offset: '15px'
                                    , icon: 1
                                    , time: 1000
                                });
                            }
                        });
                        return false;
                    });
                },
                end: function () {
                    table.reload('rootasset-list');
                }
            });
        }

        table.on('toolbar(rootasset-list)', function (obj) {
            switch (obj.event) {
                case 'add':
                    admin.open({
                        title: '添加资产',
                        area: ['500px', '680px'],
                        fixed: true,
                        maxmin: true,
                        url: './views/assetmanage/assetcreate.html',
                        success: function (layero, index) {
                            form.on('submit(sub)', function (obj) {
                                let data = obj.field;

                                let userlist = data.user_name;
                                if (userlist == '') {
                                    delete data.user;
                                    delete data.user_name;
                                }
                                let parentlist = data.parent_name;
                                if (parentlist == '') {
                                    delete data.parent;
                                    delete data.parent_name;
                                }

                                admin.ajax({
                                    url: '/asset/assetcreate/'
                                    , type: 'POST'
                                    , data: data
                                    , dataType: 'JSON'
                                    , success: function (res) {
                                        layer.close(index);
                                        let msg = JSON.stringify(res.msg);
                                        if (res.code == 0) {
                                            layer.msg(res.msg, {
                                                offset: '15px'
                                                , icon: 1
                                                , time: 1000
                                            });
                                        } else if (res.code == 1) {
                                            layer.msg(msg, {
                                                offset: '15px'
                                                , icon: 1
                                                , time: 1000
                                            });
                                        }
                                    }
                                });
                                return false;
                            });
                        },
                        end: function () {
                            table.reload('rootasset-list');
                        }
                    });
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(rootasset-list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除资产', function (index) {
                    admin.ajax({
                        url: '/asset/assetdelete/' + data.id + "/",
                        type: 'GET',
                        dataType: 'JSON',
                        success: function (res) {
                            layer.msg(res.msg, {
                                offset: '15px',
                                icon: 1,
                                time: 1000
                            }, function () {
                                table.reload('rootasset-list');
                            });
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'detial') {
                    index.go('/assetmanage/detial/id=' + data.id);
            } else if (obj.event === 'edit') {
                admin.open({
                    title: '修改资产信息',
                    area: ['500px', '680px'],
                    fixed: true,
                    maxmin: true,
                    url: './views/assetmanage/assetcreate.html',
                    success: function (layero, index) {
                        $("#id").val(data.id);
                        $("#name").val(uncode(data.name));
                        $("#key").val(uncode(data.key));
                        $("#type").html(data.type);
                        $("#manage").val(uncode(data.manage));
                        $("#telephone").val(data.telephone);
                        $("#email").val(uncode(data.email));
                        $("#description").val(uncode(data.description));

                        form.on('submit(sub)', function (obj) {
                            let data = obj.field;

                            let userlist = data.user_name;
                            if (userlist == '') {
                                delete data.user;
                                delete data.user_name;
                            }
                            let parentlist = data.parent_name;
                            if (parentlist == '') {
                                delete data.parent;
                                delete data.parent_name;
                            }

                            admin.ajax({
                                url: '/asset/assetupdate/' + obj.field.id + '/'
                                , type: 'POST'
                                , data: data
                                , dataType: 'JSON'
                                , success: function (res) {
                                    layer.close(index);
                                    let msg = JSON.stringify(res.msg);
                                    if (res.code == 0) {
                                        layer.msg('编辑资产成功', {
                                            offset: '15px'
                                            , icon: 1
                                            , time: 1000
                                        });
                                    } else if (res.code == 1) {
                                        layer.msg(msg, {
                                            offset: '15px'
                                            , icon: 1
                                            , time: 1000
                                        });
                                    }
                                }
                            });
                            return false;
                        });

                    },
                    end: function () {
                        table.reload('rootasset-list');
                    }
                });
            };
        });


        //查询并重载表格
        form.on('submit(query)', (d) => {
            table.reload('rootasset-list', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    key: d.field.condition
                }
            });
        })

    });
</script>