<title>任务管理 - 任务列表</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a href='#'><cite>主页</cite></a>
    <a><cite>任务管理</cite></a>
    <a><cite>任务列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <!-- 查询 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-form layui-row layui-col-space10" id="projcet-query"
          lay-filter="projcet-query">
          <div class="layui-col-md4">
            <label class="layui-form-label">模糊查询</label>
            <div class="layui-input-block">
              <input type="text" name="condition" placeholder="" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-col-md2 layui-col-md-offset6">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="query">查询</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 任务列表 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">任务列表</div>
        <div class="layui-card-body">
          <table class="layui-table" id="list" lay-filter="list"></table>
        </div>
      </div>
    </div>



  </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="add">添加任务</button>
    </div>
</script>

<script type="text/html" id="bar">
  <div class="layui-btn-group">
      {{# if(d.status=='待执行'){ }}
        <a class="layui-btn layui-btn-xs" lay-event="start">开始</a>
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="update">更新</a>
      {{# } else if(d.status=='执行中'){ }}
        <div class="layui-btn-group">
            <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="pause">暂停</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="stop">停止</a>
        </div>
      {{# } else if(d.status=='已暂停'){ }}
        <a class="layui-btn layui-btn-xs" lay-event="resume">重启</a>
      {{# } else if(d.status=='已完成'){ }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detail">详情</a>
      {{# } }}
  </div> 
 
</script>

<script>
  layui.use(['admin', 'table', 'form', 'tableSelect', 'uncode','index'], function () {
    var table = layui.table,
      form = layui.form,
      $ = layui.$,
      admin = layui.admin,
      tableSelect = layui.tableSelect,
      uncode = layui.uncode
      index = layui.index;

    form.render();


    //表格初始化
    table.render({
      elem: '#list'
      , url: '/task/tasklist/'
      , toolbar: '#toolbar'
      , defaultToolbar: ['print', 'exports']
      , title: '任务列表'
      , cols: [[
        { field: 'name', title: '任务名称', align: 'center', event: 'info', unresize: true }
        , { field: 'target', title: '扫描目标', align: 'center', unresize: true }
        , { field: 'status', title: '任务状态', align: 'center', unresize: true }
        , { field: 'starttime', title: '开始时间', align: 'center', unresize: true }
        , { field: 'endtime', title: '更新时间', align: 'center', unresize: true }
        , { field: 'scanner', title: '扫描器', align: 'center', unresize: true }
        , { field: 'police', title: '扫描策略', align: 'center', unresize: true }
        , { fixed: 'right', title: '操作', toolbar: '#bar', align: 'center', unresize: true }
      ]]
      , page: true
    });

    //头工具栏事件
    table.on('toolbar(list)', function (obj) {
      switch (obj.event) {
        case 'add':
          admin.open({
            title: '添加任务',
            area: ['500px', '550px'],
            url: './views/taskmanage/taskcreate.html',
            success: function (layero, index) {
              form.on('submit(sub)', function (obj) {
                let data = obj.field
                admin.ajax({
                  url: '/task/taskcreate/'
                  , type: 'POST'
                  , data: data
                  , dataType: 'JSON'
                  , success: function (res) {
                    layer.close(index);
                    let msg = JSON.stringify(res.msg);
                    if (res.code == 0) {
                      layer.msg(res.msg, {
                        offset: '15px'
                        , icon: 1
                        , time: 1000
                      });
                    } else if (res.code == 1) {
                      layer.msg(msg, {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                      });
                    }
                  }
                });
                return false;
              });
            },
            end: function () {
              table.reload('list');
            }
          });
          break;
      };
    });

    //监听行工具事件
    table.on('tool(list)', function (obj) {
      var data = obj.data;
      if (obj.event === 'start') {
        layer.load(1, {
          shade: [0.1, '#fff'] //0.1透明度的白色背景
        });
        admin.ajax({
          url: '/task/taskaction/' + data.id + '/start/',
          type: 'GET',
          dataType: 'json',
          success: (res) => {
            layer.msg(res.msg)
            table.reload('list');
            layer.closeAll('loading')
          }
        });
      } else if (obj.event == 'pause') {
        admin.ajax({
          url: '/task/taskaction/' + data.id + '/pause/',
          type: 'GET',
          dataType: 'json',
          success: () => {
            table.reload('list');
          }
        });
      } else if (obj.event == 'stop') {
        admin.ajax({
          url: '/task/taskaction/' + data.id + '/stop/',
          type: 'GET',
          dataType: 'json',
          success: () => {
            table.reload('list');
          }
        });
      } else if (obj.event == 'resume') {
        admin.ajax({
          url: '/task/taskaction/' + data.id + '/resume/',
          type: 'GET',
          dataType: 'json',
          success: () => {
            table.reload('list');
          }
        });
      } else if (obj.event == 'detail') {
        index.go('/taskmanage/detail/id=' + data.id);
      } else if (obj.event == 'del') {
        layer.confirm('确定删除任务', function (index) {
          admin.ajax({
            url: '/task/taskdelete/' + data.id + "/",
            type: 'GET',
            dataType: 'JSON',
            success: function (res) {
              layer.msg(res.msg, {
                offset: '15px',
                icon: 1,
                time: 1000
              }, function () {
                table.reload('list');
              });
            }
          });
          layer.close(index);
        })
      } else if(obj.event == 'update'){
        admin.open({
          title: '更改任务信息',
          area: ['500px', '550px'],
          url: './views/taskmanage/taskcreate.html',
          success: function (layero, index) {
            form.val('component-form-group',data);
            form.on('submit(sub)', function (obj) {
              let taskinfo = obj.field
              admin.ajax({
                url: '/task/taskupdate/' + data.id +'/'
                , type: 'POST'
                , data: taskinfo
                , dataType: 'JSON'
                , success: function (res) {
                  layer.close(index);
                  let msg = JSON.stringify(res.msg);
                  if (res.code == 0) {
                    layer.msg(res.msg, {
                      offset: '15px'
                      , icon: 1
                      , time: 1000
                    });
                  } else if (res.code == 1) {
                    layer.msg(msg, {
                      offset: '15px'
                      , icon: 2
                      , time: 1000
                    });
                  }
                }
              });
              return false;
            });
          },
          end: function () {
            table.reload('list');
          }
        });
      }
    });


    //查询并重载表格
    form.on('submit(query)', (d) => {
      table.reload('list', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {
          key: d.field.condition
        }
      });
    })

  });
</script>