<form class="layui-form model-form" id="form-psw">
    <input type='hidden' name="csrfmiddlewaretoken" id='csrf'>
    <div class="layui-form-item">
        <label class="layui-form-label">原始密码:</label>
        <div class="layui-input-block">
            <input type="password" name="oldpassword" placeholder="请输入原始密码" class="layui-input" lay-verType="tips"
                lay-verify="required" required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码:</label>
        <div class="layui-input-block">
            <input type="password" name="newpassword" placeholder="请输入新密码" class="layui-input" lay-verType="tips"
                lay-verify="required|psw" required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码:</label>
        <div class="layui-input-block">
            <input type="password" name="repassword" placeholder="请再次输入新密码" class="layui-input" lay-verType="tips"
                lay-verify="required|repsw" required />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="submit-psw" lay-submit>保存</button>
        </div>
    </div>
</form>

<script>
    layui.use(['layer', 'form','admin','index'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form
         admin = layui.admin
         index = layui.index;

         admin.ajax({
			url: '/csrf/'
			, type: 'GET'
			, dataType: 'JSON'
			, success: function (res) {
				$('#csrf').val(res.data.token);
			}
		});

        // 监听提交
        form.on('submit(submit-psw)', function (obj) {
            let data = obj.field;
            admin.ajax({
                url: '/rbac/resetpsd/',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (res) {
                    let msg = JSON.stringify(res.msg);
                    if (res.code == 0) {
                        layer.close(index);
                        layer.msg('修改密码成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        });
                    } else if (res.code == 1) {
                        layer.msg(msg, {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        });
                    }
                }
            })
            return false;
        });

        // 添加表单验证方法
        form.verify({
            psw: [/^[\S]{5,12}$/, '密码必须5到12位，且不能出现空格'],
            repsw: function (t) {
                if (t !== $('#form-psw input[name=newpassword]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });

    });
</script>