<title>任务管理 - 漏洞列表</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a href='#'><cite>主页</cite></a>
    <a><cite>漏洞管理</cite></a>
    <a><cite>漏洞列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">

    <!-- 左图 -->
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-body" style="height: 300px;">
          <div id="vulnchart" style="height: 300px;"></div>
        </div>
      </div>
    </div>

    <!-- 右表 -->
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-body" style="height: 300px;">
          <div id="levelchart" style="height: 300px;"></div>
        </div>
      </div>
    </div>


    <!-- 查询 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-form layui-row layui-col-space10" id="projcet-query"
          lay-filter="projcet-query">
          <div class="layui-col-md4">
            <label class="layui-form-label">模糊查询</label>
            <div class="layui-input-block">
              <input type="text" name="condition" placeholder="" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-col-md2 layui-col-md-offset6">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="query">查询</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 资产表格 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">漏洞列表</div>
        <div class="layui-card-body">
          <table class="layui-table" id="list" lay-filter="list"></table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="add">添加漏洞</button>
    </div>
  </script>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detial">详情</a>
    <a class="layui-btn layui-btn-xs " lay-event="change">变更</a>
</script>

<script>
  layui.use(['admin', 'table', 'form', 'echarts', 'element'], function () {
    var table = layui.table,
      form = layui.form,
      $ = layui.$,
      admin = layui.admin,
      echarts = layui.echarts
    element = layui.element;
    var two = echarts.init(document.getElementById('vulnchart'), layui.echartsTheme);
    var one = echarts.init(document.getElementById('levelchart'), 'macarons');

    form.render();
    //漏洞汇总
    admin.req({
      url: '/vulnmanage/vulnchart/level/'  //level
      , type: 'GET'
      , done: function (res) {
        //获取风险总数
        let count = 0;
        let data = res.data;
        if (data == '') {
          data = [
            { value: 0, name: '信息' },
            { value: 0, name: '低危' },
            { value: 0, name: '中危' },
            { value: 0, name: '高危' },
            { value: 0, name: '紧急' }
          ]
        }
        for (let i = 0; i < res.data.length; i++) {
          count = res.data[i].value + count
        }
        let option = {
          title: {
            text: '漏洞等级汇总',
            subtext: '未修复漏洞总数:' + count,
            x: 'center',
            align: 'right',
            padding: [130, 0]
          },
          toolbox: {
            show: true,
            feature: {
              saveAsImage: { show: true }
            },
            left: 100
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
            orient: 'vertical',
            x: 'left',
            data: res.categories
          },
          series: [
            {
              name: '风险总数',
              type: 'pie',
              radius: ['50%', '70%'],
              avoidLabelOverlap: false,
              label: {
                normal: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  show: true,
                  textStyle: {
                    fontSize: '30',
                    fontWeight: 'bold'
                  }
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: data
            }
          ]
        };
        one.setOption(option);
      }
    });

    //状态汇总
    admin.req({
      url: '/vulnmanage/vulnchart/status/'  //level
      , type: 'GET'
      , done: function (res) {
        //获取风险总数
        let count = 0;
        let data = res.data;
        if (data == '') {
          data = [
            { value: 0, name: '待修复' },
            { value: 0, name: '已修复' },
            { value: 0, name: '中危' },
            { value: 0, name: '高危' },
            { value: 0, name: '紧急' }
          ]
        }
        for (let i = 0; i < res.data.length; i++) {
          count = res.data[i].value + count
        }
        let option = {
          title: {
            text: '漏洞状态汇总',
            subtext: '漏洞总数:' + count,
            x: 'center',
            align: 'right',
            padding: [130, 0]
          },
          toolbox: {
            show: true,
            feature: {
              saveAsImage: { show: true }
            },
            left: 100
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
            orient: 'vertical',
            x: 'left',
            data: res.categories
          },
          series: [
            {
              name: '风险总数',
              type: 'pie',
              radius: ['50%', '70%'],
              avoidLabelOverlap: false,
              label: {
                normal: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  show: true,
                  textStyle: {
                    fontSize: '30',
                    fontWeight: 'bold'
                  }
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: data
            }
          ]
        };
        two.setOption(option);
      }
    });

    //表格初始化
    table.render({
      elem: '#list'
      , url: '/vulnmanage/scanvulnlist/'
      , toolbar: '#toolbar'
      , headers: { [layui.setter.request.tokenName]: 'JWT ' + layui.data(layui.setter.tableName)[layui.setter.request.tokenName] }
      , defaultToolbar: ['print', 'exports']
      , title: '漏洞列表'
      , cols: [[
        { field: 'name', title: '漏洞名称', align: 'center', event: 'info', unresize: true, width: '25%' }
        , { field: 'type', title: '漏洞分类', align: 'center', unresize: true }
        , {
          field: 'level', title: '漏洞等级', align: 'center', unresize: true, width: 120,
          templet: function (d) {
            let level = d.level;
            switch (level) {
              case '信息':
                return '<span style="color: #00CC99;">' + d.level + '</span>';
                break;
              case '低危':
                return '<span style="color: #3399FF">' + d.level + '</span>';
                break;
              case '中危':
                return '<span style="color: #CC0066;">' + d.level + '</span>';
                break;
              case '高危':
                return '<span style="color: #FFA500;">' + d.level + '</span>';
                break;
              case '紧急':
                return '<span style="color: #FF0000;">' + d.level + '</span>';
                break;
            };
          }
        }
        , { field: 'asset_name', title: '所属资产', align: 'center', unresize: true, event: 'assetdetial',style:"cursor:pointer;" }
        , { field: 'fix_status', title: '修复状态', align: 'center', unresize: true, width: 120 }
        , { field: 'update_data', title: '更新时间', align: 'center', unresize: true }
        , { field: 'cvn', title: 'CVN', hide: true, unresize: true }
        , { field: 'id', title: 'ID', hide: true, unresize: true }
        , { field: 'asset_id', title: '资产ID', hide: true, unresize: true }
        , { fixed: 'right', title: '操作', toolbar: '#bar', align: 'center', unresize: true, width: 150 }
      ]]
      , page: true
    });

    //头工具栏事件
    table.on('toolbar(list)', function (obj) {
      switch (obj.event) {
        case 'add':
          admin.popup({
            title: '新增漏洞'
            , area: ['600px', '81%']
            , fixed: true
            , maxmin: true
            , success: function (layero, index) {
              //将 views 目录下的某视图文件内容渲染给该面板
              layui.view(this.id).render('vulnmanage/vulncreate').done(function () {

              });
            }
            , end: function () {
              table.reload('list');
            }
          });
      };
    });

    //监听行工具事件
    table.on('tool(list)', function (obj) {
      var data = obj.data;
      if (obj.event === 'change') {
        admin.popup({
          title: '修改状态'
          , area: ['400px', '370px']
          , fixed: true
          , maxmin: true
          , success: function (layero, index) {
            //将 views 目录下的某视图文件内容渲染给该面板
            layui.view(this.id).render('vulnmanage/update').done(function () {
              $("#id").val(data.id);
            });
          }
          , end: function () {
            table.reload('list');
          }
        });
      } else if (obj.event === 'detial') {
        admin.req({
          url: '/vulnmanage/vulndetails/' + data.id + '/',
          type: 'GET',
          done: (res) => {
            let data = res.data
            admin.popup({
              title: '漏洞详情'
              , area: ['60%', '90%']
              , fixed: true
              , maxmin: true
              , success: function (layero, index) {
                //将 views 目录下的某视图文件内容渲染给该面板
                layui.view(this.id).render('vulnmanage/vulndetail').done(function () {
                  $('#info').html(data.info)
                  $('#fix').html(data.fix)
                  $('#introduce').html(data.introduce)

                });
              }
            });
          }
        })
      } else if (obj.event == 'assetdetial') {
        location.hash = '/assetmanage/assetdetial/id=' + data.asset_id;
      };
    });


    //查询并重载表格
    form.on('submit(query)', (d) => {
      table.reload('list', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {
          key: d.field.condition
        }
      });
    })

  });
</script>