<div class="layui-fluid">
  <div class="layui-row layui-col-space15">

    <!-- 左图 -->
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-body" style="height: 300px;">
          <div id="vulnslevelchart" style="height: 300px;"></div>
        </div>
      </div>
    </div>

    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-body" style="height: 300px;">
          <div id="vulnstatuschart" style="height: 300px;"></div>
        </div>
      </div>
    </div>

    <!-- 右图 -->
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-body" style="height: 300px;">
          <div id="vulntypechart" style="height: 300px;"></div>
        </div>
      </div>
    </div>


    <!-- 查询 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body layui-form layui-row layui-col-space10" id="projcet-query"
          lay-filter="projcet-query">
          <div class="layui-col-md4">
            <label class="layui-form-label">模糊查询</label>
            <div class="layui-input-block">
              <input type="text" name="condition" placeholder="" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-col-md2 layui-col-md-offset6">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="query">查询</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 资产表格 -->
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">漏洞列表</div>
        <div class="layui-card-body">
          <table class="layui-table" id="list" lay-filter="list"></table>
        </div>
      </div>
    </div>

    <div class="layui-col-md12 ">
      <div class="layui-card-body layui-hide" id='vulnformedit'>
        <form class="layui-form" action="" lay-filter="vulnform" style="padding: 15px;">
          <input type='hidden' name="csrfmiddlewaretoken" id='csrf'>
          <div class="layui-form-item">
            <label class="layui-form-label">修复状态</label>
            <div class="layui-input-block">
              <select name="fix_status" id="fix_status" lay-verify="required">
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">说明信息</label>
            <div class="layui-input-block">
              <textarea name="action" id="action" placeholder="说明信息" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item layui-col-xs-offset3">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detial">详情</a>
    <a class="layui-btn layui-btn-xs " lay-event="change">变更</a>
</script>

<script>
  layui.use(['admin', 'table', 'form', 'element'], function () {
    var table = layui.table,
      form = layui.form,
      $ = layui.$,
      admin = layui.admin,
      element = layui.element;

    var vulnslevelchart = echarts.init(document.getElementById('vulnslevelchart'));
    var vulntypechart = echarts.init(document.getElementById('vulntypechart'), 'macarons');
    var vulnstatuschart = echarts.init(document.getElementById('vulnstatuschart'), 'macarons');

    admin.ajax({
      url: '/csrf/'
      , type: 'GET'
      , dataType: 'JSON'
      , success: function (res) {
        $('#csrf').val(res.data.token);
      }
    });

    admin.ajax({
      url: '/vuln/statuslist/'
      , type: 'GET'
      , dataType: 'JSON'
      , success: function (res) {
        let data = res.data;
        $.each(data, function (index, item) {
          $('#fix_status').append(new Option(item.name, item.id));
        });
        form.render()
      }
    });

    form.render();
    //漏洞汇总
    admin.ajax({
      url: '/vuln/vulnslevelchart/'
      , type: 'GET'
      , dataType: 'json'
      , success: function (res) {
        //获取风险总数
        let count = 0;
        let data = res.data;
        if (data == '') {
          data = [
            { value: 0, name: '信息' },
            { value: 0, name: '低危' },
            { value: 0, name: '中危' },
            { value: 0, name: '高危' },
            { value: 0, name: '紧急' }
          ]
        }
        for (let i = 0; i < res.data.length; i++) {
          count = res.data[i].value + count
        }
        let option = {
          title: {
            text: '资产漏洞等级分布',
            x: 'center',
            align: 'right',
            padding: [130, 0],
          },
          toolbox: {
            show: true,
            feature: {
              saveAsImage: { show: true }
            },
            left: 100
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
            orient: 'vertical',
            x: 'left',
            data: res.categories
          },
          series: [
            {
              name: '风险总数',
              type: 'pie',
              radius: ['50%', '70%'],
              avoidLabelOverlap: false,
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: data
            }
          ]
        };
        vulnslevelchart.setOption(option);
      }
    });

    admin.ajax({
      url: '/vuln/vulnstatuschart/'
      , type: 'GET'
      , dataType: 'json'
      , success: function (res) {
        //获取风险总数
        let count = 0;
        let data = res.data;
        if (data == '') {
          data = [
            { value: 0, name: '信息' },
            { value: 0, name: '低危' },
            { value: 0, name: '中危' },
            { value: 0, name: '高危' },
            { value: 0, name: '紧急' }
          ]
        }
        for (let i = 0; i < res.data.length; i++) {
          count = res.data[i].value + count
        }
        let option = {
          title: {
            text: '资产漏洞状态分布',
            x: 'center',
            align: 'right',
            padding: [130, 0],
          },
          toolbox: {
            show: true,
            feature: {
              saveAsImage: { show: true }
            },
            left: 100
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
            orient: 'vertical',
            x: 'left',
            data: res.categories
          },
          series: [
            {
              name: '风险总数',
              type: 'pie',
              radius: ['50%', '70%'],
              avoidLabelOverlap: false,
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: data
            }
          ]
        };
        vulnstatuschart.setOption(option);
      }
    });

    admin.ajax({
      url: '/vuln/vulntypechart/'
      , type: 'GET'
      , dataType: 'json'
      , success: function (res) {
        //获取风险总数
        let count = 0;
        let data = res.data;
        for (let i = 0; i < res.data.length; i++) {
          count = res.data[i].value + count
        }
        let option = {
          title: {
            text: '资产漏洞类型分布',
            x: 'center',
            align: 'right',
            padding: [130, 0],
          },
          toolbox: {
            show: true,
            feature: {
              saveAsImage: { show: true }
            },
            left: 100
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
            orient: 'vertical',
            x: 'left',
            data: res.categories
          },
          series: [
            {
              name: '风险总数',
              type: 'pie',
              radius: ['50%', '70%'],
              avoidLabelOverlap: false,
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: data
            }
          ]
        };
        vulntypechart.setOption(option);
      }
    });
    
    //表格初始化
    table.render({
      elem: '#list'
      , url: '/vuln/vulnlist/'
      , title: '漏洞列表'
      , cols: [[
        { field: 'name', title: '漏洞名称', align: 'center', event: 'info', unresize: true, width: '25%' }
        , { field: 'type', title: '漏洞分类', align: 'center', unresize: true }
        , {
          field: 'level', title: '漏洞等级', align: 'center', unresize: true, width: 120,
          templet: function (d) {
            let level = d.level;
            switch (level) {
              case '信息':
                return '<span style="color: #00CC99;">' + d.level + '</span>';
                break;
              case '低危':
                return '<span style="color: #3399FF">' + d.level + '</span>';
                break;
              case '中危':
                return '<span style="color: #CC0066;">' + d.level + '</span>';
                break;
              case '高危':
                return '<span style="color: #FFA500;">' + d.level + '</span>';
                break;
              case '紧急':
                return '<span style="color: #FF0000;">' + d.level + '</span>';
                break;
            };
          }
        }
        , { field: 'asset', title: '所属资产', align: 'center', unresize: true, event: 'assetdetial',style:"cursor:pointer;" }
        , { field: 'fix_status', title: '修复状态', align: 'center', unresize: true, width: 120 }
        , { field: 'update_data', title: '更新时间', align: 'center', unresize: true }
        , { field: 'cvn', title: 'CVN', hide: true, unresize: true }
        , { field: 'id', title: 'ID', hide: true, unresize: true }
        , { field: 'asset_id', title: '资产ID', hide: true, unresize: true }
        , { fixed: 'right', title: '操作', toolbar: '#bar', align: 'center', unresize: true, width: 150 }
      ]]
      , page: true
    });

    //监听行工具事件
    table.on('tool(list)', function (obj) {
      var data = obj.data;
      if (obj.event === 'change') {
        vulnpopup(data);
      } else if (obj.event === 'detial') {
        admin.open({
          title: '漏洞详情',
          area: ['500px', '680px'],
          url: './views/vulnmanage/detial.html',
          success: function (layero, index) {
            $('#vuln-info').html(data.info);
            $('#vuln-fix').html(data.fix);
            $('#vuln-introduce').html(data.introduce)
          }
        });
      };
    });


    //查询并重载表格
    form.on('submit(query)', (d) => {
      table.reload('list', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {
          key: d.field.condition
        }
      });
    });


    let vulnpopup = (vulndata) =>{
      admin.open({
        type:1,
        title:  '修改漏洞状态',
        area: ['520px', '370px'],
        content:$('#vulnformedit').html(),
        success: function (layero, index) {
          form.render();
          if(vulndata){
            vulndata.fix_status = vulndata.fix_status_id;
            form.val('vulnform',vulndata)
          }
          form.on('submit(sub)', function (obj) {
            let data = obj.field;
            admin.ajax({
              url: '/vuln/vulnupdate/' + vulndata.id + '/'
              , type: 'POST'
              , data: data
              , dataType: 'JSON'
              , success: function (res) {
                layer.close(index);
                let msg = JSON.stringify(res.msg);
                if (res.code == 0) {
                  layer.msg(res.msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                } else if (res.code == 1) {
                  layer.msg(msg, {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                  });
                }
              }
            });
            return false;
          });
        },
        end: function () {
          table.reload('list');
        }
      });
    };


  });
</script>